
@media only screen and (max-width: 990px) {
    .buscadorcollapse {
        display: block;
    }
    .optionMenu {
        display: block;
    }
    #contenedor-menu{
        display: none;
    }
    .titulo{
        display: none;
    }
    
    
}

@media only screen and (min-width: 991px) {
    .buscadorcollapse {
        display: none;
    }
    #contenedor-menu{
        display: block;
    }
    .optionMenu {
        display: none;
    }
    
}

.grid-container {
    display: grid;
    margin: auto;
    width: 80%;
    padding-top: 20px;
    
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
    
}

.p{
    display: flex;
    justify-content: end;
    width: 310px;
    height: auto;
    text-align: justify;
    padding :8px;
    background-color: rgba(239, 239, 239, 0.508);
    
}
